# Akuity Platform
AKUITY_ARGOCD_INSTANCE=<your-argocd-instance>
AKUITY_KARGO_INSTANCE=<your-kargo-instance>
AKUITY_ORG_NAME=akuity

# Your GitHub repository
GITOPS_REPO_URL=https://github.com/YOUR_USERNAME/bluegreen-demo.git
GITHUB_USERNAME=YOUR_GITHUB_USERNAME
GITHUB_PAT=YOUR_GITHUB_PAT

# Argo CD destination cluster (name of the cluster registered to Argo CD)
ARGOCD_DESTINATION=<your-cluster-name>
